body {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}

header {
    width: 100%;
    height: 62px;
    /* margin: -8px; */
    background: #fdb515;
}

footer {
    width: 100%;
    background: grey;
}

/* h1:after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background: black;
    left: 250px;
    top: 50%;
    position: absolute;
  } */

.white-bar {
    width: 100%;
    height: 80px;
    margin: 8px;
    background: white;
}

.white-bar2 {
    width: 100%;
    height: 115px;
    background: white;
}

.white-bar3 {
    width: 100%;
    height: 30px;
    background: white;
}

.container {
    max-width: 1200px;
    overflow: visible;
}

.container a {
    float: right;
    font-size: 24px;
    color: #003262;
    text-align: center;
    padding: 14px 16px;
}

.container .logo {
    float: left;
    margin: 10px 0 -200px 0;
    z-index: 2;
    padding: 5px 0;
    position: relative;
}

.container .logo:hover {
    background-color: white;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 24px;
    border: none;
    outline: none;
    color: #003262;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 100;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: #003262;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #003262;
    /* box-shadow: 0px 2px 4px 0px black; */
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #fdb515;
    color: #003262;
}

.dropdown:hover .dropdown-content {
    display: block;
}

figcaption {
    font-size: 16px;
    font-style: italic;
    text-align: center;
}

